In [2]:
# We have implement KNN
# We have imported numpy and pandas libraries.

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score

In [4]:
# We have Printing the dataset.

In [8]:
dt = pd.read_csv("Desktop/KNNDemo.csv")
dt

    Height  Weight  T-shirt Size
0      158       58            M
1      158       59            M
2      158       63            M
3      160       59            M
4      160       60            M
5      163       60            M
6      163       61            M
7      160       64            L
8      163       64            L
9      165       61            L
10     165       62            L
11     165       65            L
12     168       62            L
13     168       63            L
14     168       66            L
15     170       63            L
16     170       64            L
17     170       68            L

In [10]:
# We have Dividing dataset into dependent and independent values and printing them

In [11]:
x = dt.iloc[:,:-1].values
y = dt.iloc[:,-1].values
print(x)
print(y)

[[158  58]
 [158  59]
 [158  63]
 [160  59]
 [160  60]
 [163  60]
 [163  61]
 [160  64]
 [163  64]
 [165  61]
 [165  62]
 [165  65]
 [168  62]
 [168  63]
 [168  66]
 [170  63]
 [170  64]
 [170  68]]
['M' 'M' 'M' 'M' 'M' 'M' 'M' 'L' 'L' 'L' 'L' 'L' 'L' 'L' 'L' 'L' 'L' 'L']

In [12]:
# Here we have Splitting the dataset into training and testing set...

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20)

In [14]:
# Now Train the model

In [15]:
model = KNeighborsClassifier(n_neighbors = 5)
model.fit(x_train,y_train)

KNeighborsClassifier()

In [16]:
# We have predicting values and Finding accuracy

In [17]:
y_pred = model.predict(x_test)
print(y_pred)
acc = accuracy_score(y_test,y_pred)*100
print(acc)

['L' 'M' 'L' 'L']
75.0

In [18]:
# Now creating confusion matrix

In [19]:
conmat = confusion_matrix(y_test,y_pred)
conmat

array([[2, 0],
       [1, 1]], dtype=int64)