In [1]:
# We have imported numpy and pandas libraries.Numpy library is used for handling numbers and pandas is used for handling datasets.
# we have imported SimpleImputer library which is used for imputing(assigning) to missing values

In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [3]:
#We have assigned a csv file(sample.csv) to the data variable and printed the value of data

In [4]:
data = pd.read_csv("Desktop/sample.csv")
data

   Region   Age   Income Online Shopper
0   India  49.0  45000.0            Yes
1  Brazil  48.0  80000.0             No
2     USA  35.0  56600.0            Yes
3   India  30.0      NaN             No
4     USA   NaN  45120.0            Yes
5  Brazil  39.0  24570.0             No
6   India  46.0  59520.0             No
7  Brazil  50.0  53254.0            Yes
8   India  38.0  78546.0            Yes

In [5]:
#We have used iloc() function which enables us to select a particular cell of the dataset
#for x variable we have taken first 3 columns and all the rows of our table
#for y variable we have taken all the rows of the last column only

In [6]:
x=data.iloc[:,[0,1,2]].values
y=data.iloc[:,3].values
type(x)

numpy.ndarray

In [7]:
# Now SimpleImputer function is used for the cells where there are no values are assigned a value 
# We have used mean strategy to assign values to the cells having Nan value

In [9]:
imputer = SimpleImputer(missing_values = np.nan,strategy="mean")
imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])
x,y

(array([['India', 49.0, 45000.0],
        ['Brazil', 48.0, 80000.0],
        ['USA', 35.0, 56600.0],
        ['India', 30.0, 54927.0],
        ['USA', 42.5, 45120.0],
        ['Brazil', 39.0, 24570.0],
        ['India', 46.0, 59520.0],
        ['Brazil', 50.0, 53254.0],
        ['India', 38.0, 78546.0]], dtype=object),
 array(['Yes', 'No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'Yes'],
       dtype=object))